<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PDTWJ3Z');</script>
    <!-- End Google Tag Manager -->
    <title>Trego - Travel Tour HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/magnific-popup.css">
    <link type="text/css" rel="stylesheet" href="assets/css/jquery.selectBox.css">
    <link type="text/css" rel="stylesheet" href="assets/css/dropzone.css">
    <link type="text/css" rel="stylesheet" href="assets/css/slick.css">
    <link type="text/css" rel="stylesheet" href="assets/css/rangeslider.css">
    <link type="text/css" rel="stylesheet" href="assets/css/animate.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/daterangepicker.css">
    <link type="text/css" rel="stylesheet" href="assets/css/leaflet.css">
    <link type="text/css" rel="stylesheet" href="assets/css/map.css">
    <link type="text/css" rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/linearicons/style.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="assets/css/skins/default.css">

</head>
<body id="top">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDTWJ3Z"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>

<!-- main header start -->

<!-- main header end -->

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>자주 하는 질문</h1>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Typography start -->
<div class="typography content-area-6">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sd">
                <h1 class="text-center heading">무엇을 도와드릴까요?</h3><br><hr><br>
                <h3 class="heading">예약을 변경/취소하고 싶습니다.</h3>
                <p class="text-left">떠나고는 가격 비교 서비스만 제공해 드리며, 각 사이트로 연결된 후에는 예약과 결제에 직접 관여하지 않기 때문에 예약을 관리하지 않습니다.
예약 변경/취소는 저희 사이트가 아닌 실제 예약이 진행된 사이트를 통해서만 가능하며, 받으신 예약메일 상에서 변경/취소 처리하시거나 해당 사이트의 고객센터 로 문의하시는 방법이 있습니다.
항상 최종 예약을 진행하신 예약 사이트의 취소 규정이 적용되며, 취소 전 무료 취소 및 환불이 가능한지 취소 규정을 확인해 주십시오.</p>
                <h3 class="text-right heading">예약 확인은 어떻게 하나요?</h3>
                <p class="text-right">떠나고는 예약 사이트들의 가격을 비교하여 최저가를 찾아드리는 검색 엔진 입니다.
각 사이트로 연결된 후에는 예약과 결제에 직접 관여하지 않기 때문에 전체 예약을 조회/관리하는 마이페이지 기능이 없습니다.
예약 확인은 실제 예약한 사이트에서 가능합니다. 예약 24시간 후에도 예약 확인서를 받지 못했다면 예약을 진행한 사이트로 문의 및 재발송 요청을 주셔야 합니다. 스팸 메일함도 함께 확인해 주십시오.</p>
                <h3 class="text-justify heading">호텔 등급 출처는 어디인가요?</h3>
                <p class="text-justify">호텔 등급은 호텔 자체적으로 정하거나 호텔 상품을 판매하는 여행 업체가 결정합니다. 떠나고에서는 그 정보를 가져와 가장 정확한 정보를 표시합니다. 저희는 업체간 신뢰도의 차이를 인지하고 있고 이를 고려하여 평점을 표시합니다.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 sd">
                <h3 class="heading">호텔 리뷰 평점은 믿을만 한가요? 리뷰는 누가 작성하나요?</h3>
				<p>떠나고는 각 예약 사이트들의 실제 후기를 취합하여 보여드리고 있습니다. 이는 검증된 투숙객에 의해 작성된 후기로 신뢰하여 참고하실 수 있습니다.
더 자세한 후기는 각 예약 사이트에 들어가시면 확인 가능하며, 투숙하신 호텔에 대한 후기를 남기고 싶으실 경우, 실제로 예약인 진행된 사이트에 접속하신 후 기재 부탁드립니다.</p>
                <h3 class="heading">아동도 1인 요금을 전부 지불해야 하나요?</h3>
                <p>아동에 해당되는 추가 비용은 예약 요금에 포함되어 있지 않습니다. 아동 요금 지불과 관련한 사항은 숙소 측에 직접 문의해주시기 바랍니다.</p>
                <h3 class="heading">더블룸과 트윈룸의 차이는 무엇인가요?</h3>
                <p>더블룸은 더블 베드 하나만 비치되어 있으며, 트윈룸은 싱글 베드 두 개가 비치되어 있습니다. 어떤 객실이 더블룸/트윈룸으로 표시되어 있을 경우 양쪽 유형 중 하나가 제공될 수 있음을 의미합니다. 숙소 측에서 고객님의 기대에 부응하기 위해 최선의 노력을 다할 것입니다.</p>
            </div>
            <div class="col-md-6 sd">
                <h3 class="heading">정해진 체크인 시간 외에 도착할 것 같습니다. 체크인이 가능할까요?</h3>
                <p>이는 숙소 재량에 맡겨진 것으로 반드시 보장되지는 않습니다. 이와 관련해 다음의 조치를 취하실 수 있습니다.</p>
                <h3 class="heading">예약 확인 이메일을 찾을 수가 없습니다. 어떻게 해야하나요?</h3>
                <p>메일함과 스팸함을 모두 확인해주시기 바랍니다. 예약 확인서를 찾을 수 없을 경우 tteonago.com/문의하기를 방문하시면 다시 전송을 받으실 수 있습니다.</p>
                <h3 class="heading">아동용 엑스트라 베드 또는 유아용 침대를 제공받을 수 있나요?</h3>
                <p>이는 숙소 정책에 따라 다릅니다. 엑스트라 베드 또는 유아용 침대 등 아동과 관련한 추가 비용은 예약 요금에 포함되지 않습니다. 자세한 내용은 숙소 측에 직접 문의해주시기 바랍니다.</p>
            </div>
             <a class="nav-link" href="board">자세한 사항은 문의하기를 해주세요.</a>
        </div>
    </div>
</div>
<!-- Typography end -->

<!-- Footer start -->

<!-- Footer end -->

<!-- Full page search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="#">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-sm btn-color">Search</button>
    </form>
</div>

<!-- External JS libraries -->
<script src="assets/js/jquery-2.2.0.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.selectBox.js"></script>
<script src="assets/js/rangeslider.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.filterizr.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/daterangepicker.min.js"></script>
<script src="assets/js/backstretch.js"></script>
<script src="assets/js/jquery.countdown.js"></script>
<script src="assets/js/jquery.scrollUp.js"></script>
<script src="assets/js/particles.min.js"></script>
<script src="assets/js/typed.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/dropzone.js"></script>
<script src="assets/js/jquery.mb.YTPlayer.js"></script>
<script src="assets/js/leaflet.js"></script>
<script src="assets/js/leaflet-providers.js"></script>
<script src="assets/js/leaflet.markercluster.js"></script>
<script src="assets/js/maps.js"></script>
<script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
<script src="assets/js/ie-emulation-modes-warning.js"></script>
<!-- Custom JS Script -->
<script  src="assets/js/app.js"></script>

</body>
</html>
