<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
<head>
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
    <!-- External CSS libraries -->
    <!-- Favicon icon -->
    <!-- Google fonts -->
    <!-- Custom Stylesheet -->

</head>
<body id="top">
	
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDTWJ3Z"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>

<!-- main header start -->
	<!-- common/header.html -->
<!-- main header end -->

<!-- Banner start -->
    <div class="banner banner-bg" id="particles-banner-wrapper">
        <div id="particles-banner"></div>
        <div id="carouselExampleIndicators" class="carousel slide"
            data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active item-bg active">
                    <div
                        class="carousel-caption banner-slider-inner d-flex text-center">
                        <div class="carousel-content container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="bi-4">
                                        <div class="container">
                                            <div class="text-center">
                                                <div id="typed-strings">
                                                    <p>나의 여행 비서, tteonago</p>
                                                </div>
                                                <h1 class="typed-text">
                                                    &nbsp; <span id="typed"></span>
                                                </h1>
                                                <p>여행의 모든 것, 한 눈에 쉽게</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bi-2">
                <div class="container">
                    <div class="banner-inner-2 b3">
                        <h3 style="color: black; font-weight: bold;">호텔 예약 검색</h3>
                        <form action="/hotelsearch" class="row inline-search-area search-area" method="GET">
                            <div class="search-col">
                                <br> <select
                                    class="selectpicker search-fields btn-block form-control bdr"
                                    name="destination" required >
                                    <option value="" disabled selected>지역 선택</option>
                                    <option value="서울" th:selected="${destination == '서울'}">서울</option>
                                    <option value="제주" th:selected="${destination == '제주'}">제주</option>
                                    <option value="부산" th:selected="${destination == '부산'}">부산</option>
                                    <option value="대전" th:selected="${destination == '대전'}">대전</option>                                   
                                </select>                                                          
                                <i class="flaticon-down icon-append"></i>                                                              
                            </div>
                            <div class="search-col">
                                <br> <input type="text" name="dates"
                                    placeholder="Check In - Check Out"
                                    class="datetimes form-control" required autocomplete="off"/> 
                                    <i class="flaticon-timetable icon-append"></i>
                            </div>
                            <div class="search-col">
                                <br> <select
                                    class="selectpicker search-fields btn-block form-control bdr"
                                    name="hotel-grade" required>
                                    <option value="" disabled selected>호텔 등급</option>
                                    <option value="5">⭐⭐⭐⭐⭐</option>
                                    <option value="4">⭐⭐⭐⭐</option>
                                    <option value="3">⭐⭐⭐</option>
                                    <option value="2">⭐⭐</option>
                                    <option value="1">⭐</option>
                                </select> <i class="flaticon-down icon-append"></i>
                            </div>
                            <div class="search-col">
                                <br> <select
                                    class="selectpicker search-fields btn-block form-control bdr"
                                    name="guests" required>
                                    <option value="" disabled selected>인원 수</option>
                                    <option value="1">1명</option>
                                    <option value="2">2명</option>
                                    <option value="3">3명</option>
                                    <option value="4">4명</option>
                                    <option value="5">5명 이상</option>
                                </select> <i class="flaticon-down icon-append"></i>
                            </div>
                            <div class="search-col">
                                <br>
                                <button type="submit" class="btn-theme btn-md btn-block">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- banner end -->

<!-- Destination strat -->
<div class="destination categories content-area-13">
  <div class="container">
    <!-- Main title -->
    <div class="main-title">
      <h1><span class="border2"></span> Must See Places <span class="border2"></span></h1>
    </div>
    <div class="slick-slider-area">
      <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
		<div th:each="area, iterStat : ${areas}" class="slick-slide-item col-lg-4 col-sm-4">
  		<div class="category">
			<div class="category_bg_box category_long_bg" 
    		 th:style="'background-image: url(/assets/img/destination/img-' + ${iterStat.index + 1} + '.jpg)'"  			
    		 th:onclick="|location.href='@{/map(area=${area.aId})}'|">
      <div class="category-overlay">
        <div class="category-content">
          <h4 class="category-subtitle">
          <i class="flaticon-pin"></i> 
          <span th:text="${area.aName}"></span></h4>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
      <div class="slick-prev slick-arrow-buton">
        <i class="fa fa-angle-left"></i>
      </div>
      <div class="slick-next slick-arrow-buton">
        <i class="fa fa-angle-right"></i>
      </div>
    </div>
  </div>
</div>



<!-- partner start -->
<div class="container partner">
    <div class="main-title">
        <h1>Partners</h1>
    </div>
    <div class="row">
        <div class="multi-carousel" data-items="1,3,5,6" data-slide="1" id="multiCarousel"  data-interval="1000">
            <div class="multi-carousel-inner">
                <div class="item">
                    <div class="pad15" onclick="window.location.href='https://github.com/CSHcode'">
                        <span>Sung Hwan Cho🐈</span>
                    </div>
                </div>
                <div class="item">
                    <div class="pad15" onclick="window.location.href='https://github.com/11000db'">
                        <span>KimJooYoung🦅</span>
                    </div>
                </div>
                <div class="item">
                    <div class="pad15" onclick="window.location.href='https://github.com/wonuseo'">
                        <span>WON WOO SEO🐸</span>
                    </div>
                </div>
                <div class="item">
                    <div class="pad15" onclick="window.location.href='https://github.com/alpapago'">
                        <span>Shinae Lee👽</span>
                    </div>
                </div>
                <div class="item">
                    <div class="pad15" onclick="window.location.href='https://github.com/Junsoo71'">
                        <span>Junsoo Lee⚽️</span>
                    </div>
                </div>
                <div class="item">
                    <div class="pad15" onclick="window.location.href='https://github.com/Seongmin2018'">
                        <span>Seongmin🧸</span>
                    </div>
                </div>               
            </div>
            <a class="multi-carousel-indicator leftLst" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="multi-carousel-indicator rightLst" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- partner end -->

<!-- Footer-6 start -->
	<!-- common/footer.html -->
<!-- Footer-6 end -->

<!-- External JS libraries -->
<!-- Custom JS Script -->
</body>
</html>
