<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>인가되지 않은 경로로 진입하려고 했을 경우, Spring Security 에 의해 자동으로 이곳으로 리다이렉트 됩니다.</h1>
	<form method="post" action="/loginChain" id="login-form">
            <input type="text" name="username" placeholder="userName">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Login">
     </form>
     
     <div>
     	<a href="/oauth2/authorization/kakao">KAKAO</a>
     </div>
</body>
</html>