<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form name="f" th:action="@{/loginChain}" method="post">
                <h1>인가되지 않은 경로로 진입하려고 했을 경우, Spring Security 에 의해 자동으로 이곳으로 리다이렉트 됩니다.</h1>
                <h1>WebSecurity 권한을 확인하세요.</h1>
                <label for="username">UserName</label>
                <div>
                    <input type="text" id="username" name="username" /><br/>
                </div>
                
                <label for="password">Password </label>
                <div>
                    <input type="password" id="password" name="password" />
                </div>
                
                <div class="form-actions">
                    <button type="submit" class="btn">LogIn</button>
                </div>
     </form>
     
      <div>
     	<a href="/oauth2/authorization/kakao">카카오 소셜 로그인</a>
     </div>
</body>
</html>