<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PDTWJ3Z');</script>
    <!-- End Google Tag Manager -->
    <title>Trego - Travel Tour HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/magnific-popup.css">
    <link type="text/css" rel="stylesheet" href="assets/css/jquery.selectBox.css">
    <link type="text/css" rel="stylesheet" href="assets/css/dropzone.css">
    <link type="text/css" rel="stylesheet" href="assets/css/slick.css">
    <link type="text/css" rel="stylesheet" href="assets/css/rangeslider.css">
    <link type="text/css" rel="stylesheet" href="assets/css/animate.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/daterangepicker.css">
    <link type="text/css" rel="stylesheet" href="assets/css/leaflet.css">
    <link type="text/css" rel="stylesheet" href="assets/css/map.css">
    <link type="text/css" rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/linearicons/style.css">

    <!-- 이미지 클릭시 확대 관련 import  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="assets/css/skins/default.css">

</head>
<body id="top">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDTWJ3Z"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="page_loader"></div>

<!-- main header start -->
<header class="main-header sticky-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light rounded">
                    <a class="navbar-brand logo navbar-brand d-flex mr-auto" href="/category">
                        <img src="assets/img/logos/black-logo.png" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="navbar-collapse collapse w-100" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Index
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="index.html">Index 1</a></li>
                                    <li><a class="dropdown-item" href="index-2.html">Index 2</a></li>
                                    <li><a class="dropdown-item" href="index-3.html">Index 3</a></li>
                                    <li><a class="dropdown-item" href="index-4.html">Index 4</a></li>
                                    <li><a class="dropdown-item" href="index-5.html">Index 5</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tours
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                    <li><a class="dropdown-item" href="tours-grid.html">Tours Grid</a></li>
                                    <li><a class="dropdown-item" href="tours-list.html">Tours List</a></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Tours Detail</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="tours-detail.html">Tours Detail 1</a></li>
                                            <li><a class="dropdown-item" href="tours-detail-2.html">Tours Detail 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Destinations
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                    <li><a class="dropdown-item" href="destination-grid.html">Destination Grid</a></li>
                                    <li><a class="dropdown-item" href="destination-mansory.html">Destination Mansory</a></li>
                                    <li><a class="dropdown-item" href="destination-detail.html">Destination Detail</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link">Pages</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="about.html">About Us</a></li>
                                    <li><a class="dropdown-item" href="pricing-tables.html">Pricing Tables</a></li>
                                    <li><a class="dropdown-item" href="gallery.html">Gallery</a></li>
                                    <li><a class="dropdown-item" href="agent.html">Meet Our Team</a></li>
                                    <li><a class="dropdown-item" href="faq.html">Faqs</a></li>
                                    <li><a class="dropdown-item" href="typography.html">Typography</a></li>
                                    <li><a class="dropdown-item" href="coming-soon.html">Coming Soon</a></li>
                                    <li><a class="dropdown-item" href="pages-404.html">404 Page</a></li>
                                    <li><a class="dropdown-item" href="login.html">Login</a></li>
                                    <li><a class="dropdown-item" href="register.html">Register</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Blog
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                    <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
                                    <li><a class="dropdown-item" href="blog-sidebar.html">Blog Sidebar</a></li>
                                    <li><a class="dropdown-item" href="blog-detail.html">Blog Detail</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#full-page-search" class="nav-link h-icon">
                                    <i class="flaticon-search"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- main header end -->

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Tours List</h1>
            <ul class="breadcrumbs">
                <li><a href="/category">Home</a></li>
                <li class="active">Tours List</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Tour list rightside start -->
<div class="tour-list-rightside content-area-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="option-bar">
                    <div class="row clearfix">
                        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-5">
                            <h4>
                                <span class="heading-icon">
                                    <i class="fa fa-caret-right icon-design"></i>
                                    <i class="fa fa-th-list"></i>
                                </span>                              
                                <span class="heading" th:text="${hotelcount + ' 개의 호텔 검색'}"></span>
                                <script th:inline="javascript">
								    var hotelcount = /*[[${hotelcount}]]*/0;
								    if (hotelcount === 0) {
								        alert("검색 결과가 없습니다.");
								        history.back();
								    }
								</script>
                            </h4>
                        </div>
                        
                    </div>
                </div>
                
                <div th:each="hotel : ${hotellist}" class="tour-item-3">
                    <div class="row">
                      <div class="col-lg-5 col-md-5 col-pad">
                        <div class="item-thumbnail">
                          <a th:href="@{${hotel.images[0].address}}" class="item-img" data-lightbox="example-set">                          
                            <div class="tag">확대</div>
                            <img th:src="@{${hotel.images[0].address}}" alt="tours-list" class="img-fluid" />                          
                            <div class="plan-price"></div>
                          </a>
                        </div>
                      </div>
                      <div class="col-lg-7 col-md-7 col-pad">
                        <div class="detail">
                          <h1 class="title">                        
                           <a th:href="@{/detail(hotelId=${hotel.hotelId}, checkIn=${datein}, checkOut=${dateout}, dates=${dates})}" th:text="${hotel.hotelName}"></a>
                          </h1>
                          <div class="location">
                            <a th:href="@{/detail(hotelId=${hotel.hotelId})}">
                              <i class="flaticon-pin"></i>
                              <span th:text="${hotel.hotelAddress}"></span>
                            </a>
                          </div>
                          <p th:text="${hotel.hotelInfo}"></p>
                          <br>
                          <br>
                          <br>
                        </div>
                        <div class="ftr">
                            <div class="pull-left">
                                <i class="flaticon-calendar" th:text="| ${datein} ~ ${dateout}|"></i> <br>
                                <i class="flaticon-calendar" th:text="${days}"></i> <br>
                                <i class="flaticon-phone" th:text="| ${hotel.hotelPhone}|"></i>
                            </div>
                            <div class="pull-right">
                                <div class="ratings">
                                    <span th:if="${hotel.star} == 1">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                    <span th:if="${hotel.star} == 2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                    <span th:if="${hotel.star} == 3">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                    <span th:if="${hotel.star} == 4">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                    <span th:if="${hotel.star} == 5">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

                       <div class="col-lg-4 col-md-12">
                <div class="sidebar">
                    <!-- Search area2 start -->
                    <div class="widget search-area2">
                        <h5 class="sidebar-title">호텔 예약 재검색</h5>
                        <form action="/hotelsearch" class="inline-search-area" method="GET">
                            <div class="form-group search-col">
                                <select class="selectpicker search-fields btn-block form-control bdr" name="destination" required>
                                    <span th:if="${destination} == 서울">
                                        <option value="서울" selected>서울</option>
                                        <option value="제주">제주</option>
                                        <option value="부산">부산</option>
                                        <option value="대전">대전</option>
                                    </span>
                                    <span th:if="${destination} == 제주">
                                        <option value="서울">서울</option>
                                        <option value="제주" selected>제주</option>
                                        <option value="부산">부산</option>
                                        <option value="대전">대전</option>
                                    </span>
                                    <span th:if="${destination} == 부산">
                                        <option value="서울">서울</option>
                                        <option value="제주">제주</option>
                                        <option value="부산" selected>부산</option>
                                        <option value="대전">대전</option>
                                    </span>
                                    <span th:if="${destination} == 대전">
                                        <option value="서울">서울</option>
                                        <option value="제주">제주</option>
                                        <option value="부산">부산</option>
                                        <option value="대전" selected>대전</option>
                                    </span>                                                        
                                </select> 
                                <i class="flaticon-down icon-append"></i>
                            </div>
                            <div class="form-group search-col">
                                <!-- <input type="text" name="dates" th:value="|${datein} ~ ${dateout}|" class="datetimes-left form-control"/> -->
                                <input type="text" name="dates" th:value="${dates}" class="datetimes-left form-control"/> 
                                <i class="flaticon-calendar icon-append"></i>
                            </div>                       
                            <div class="form-group search-col">
                                <select class="selectpicker search-fields btn-block form-control bdr" name="hotel-grade" required>     
                                    <span th:if="${star} == 5">                                     
                                        <option value="5" selected>⭐⭐⭐⭐⭐</option>
                                        <option value="4">⭐⭐⭐⭐</option>
                                        <option value="3">⭐⭐⭐</option>
                                        <option value="2">⭐⭐</option>
                                        <option value="1">⭐</option>
                                    </span>
                                    <span th:if="${star} == 4">                                     
                                        <option value="5">⭐⭐⭐⭐⭐</option>
                                        <option value="4" selected>⭐⭐⭐⭐</option>
                                        <option value="3">⭐⭐⭐</option>
                                        <option value="2">⭐⭐</option>
                                        <option value="1">⭐</option>
                                    </span>
                                    <span th:if="${star} == 3">                                       
                                        <option value="5">⭐⭐⭐⭐⭐</option>
                                        <option value="4">⭐⭐⭐⭐</option>
                                        <option value="3" selected>⭐⭐⭐</option>
                                        <option value="2">⭐⭐</option>
                                        <option value="1">⭐</option>
                                    </span>
                                    <span th:if="${star} == 2">                                      
                                        <option value="5">⭐⭐⭐⭐⭐</option>
                                        <option value="4">⭐⭐⭐⭐</option>
                                        <option value="3">⭐⭐⭐</option>
                                        <option value="2" selected>⭐⭐</option>
                                        <option value="1">⭐</option>
                                    </span>
                                    <span th:if="${star} == 1">
                                        <option value="5">⭐⭐⭐⭐⭐</option>
                                        <option value="4">⭐⭐⭐⭐</option>
                                        <option value="3">⭐⭐⭐</option>
                                        <option value="2">⭐⭐</option>
                                        <option value="1" selected>⭐</option>                                     
                                    </span>                                                              
                                </select> <i class="flaticon-down icon-append"></i>                   
                            </div>
                            <div class="form-group search-col">
                                <select class="selectpicker search-fields btn-block form-control bdr"name="guests" required>
                                    <span th:if="${guests} == 5">
                                        <option value="1">1명</option>
                                        <option value="2">2명</option>
                                        <option value="3">3명</option>
                                        <option value="4">4명</option>
                                        <option value="5" selected>5명 이상</option>                         
                                    </span>
                                    <span th:if="${guests} == 4">
                                        <option value="1">1명</option>
                                        <option value="2">2명</option>
                                        <option value="3">3명</option>
                                        <option value="4" selected>4명</option>
                                        <option value="5">5명 이상</option>                         
                                    </span>       
                                    <span th:if="${guests} == 3">
                                        <option value="1">1명</option>
                                        <option value="2">2명</option>
                                        <option value="3" selected>3명</option>
                                        <option value="4">4명</option>
                                        <option value="5" >5명 이상</option>                         
                                    </span>       
                                    <span th:if="${guests} == 2">
                                        <option value="1">1명</option>
                                        <option value="2" selected>2명</option>
                                        <option value="3">3명</option>
                                        <option value="4">4명</option>
                                        <option value="5">5명 이상</option>                         
                                    </span>       
                                    <span th:if="${guests} == 1">
                                        <option value="1" selected>1명</option>
                                        <option value="2">2명</option>
                                        <option value="3">3명</option>
                                        <option value="4">4명</option>
                                        <option value="5">5명 이상</option>                         
                                    </span>                                          
                            </select> <i class="flaticon-down icon-append"></i>
                            </div>
                            <div class="form-group search-col mb-0">
                                <!-- <a href="" class="btn-theme btn-md btn-block">Search</a> -->
                                <button type="submit" class="btn-theme btn-md btn-block">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Tours list rightside end -->

<!-- Footer start -->
<footer class="footer">
    <div class="container footer-inner">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-item">
                    <h4>Contact Us</h4>
                    <div class="s-border"></div>
                    <div class="m-border"></div>
                    <ul class="contact-info">
                        <li>
                            <i class="flaticon-pin"></i>20/F Green Road, Dhanmondi, Dhaka
                        </li>
                        <li>
                            <i class="flaticon-mail"></i><a href="mailto:sales@hotelempire.com">info@themevessel.com</a>
                        </li>
                        <li>
                            <i class="flaticon-phone"></i><a href="tel:+55-417-634-7071">+0477 85X6 552</a>
                        </li>
                        <li>
                            <i class="flaticon-fax"></i>+0477 85X6 552
                        </li>
                    </ul>
                    <ul class="social-list clearfix">
                        <li><a href="#" class="facebook-color"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter-color"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="google-color"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="rss-color"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="linkedin-color"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-item">
                    <h4>Solutions</h4>
                    <div class="s-border"></div>
                    <div class="m-border"></div>
                    <ul class="links">
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Tours</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Pricing</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>About us</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Destinations</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Testimonials</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-item">
                    <h4>quick links</h4>
                    <div class="s-border"></div>
                    <div class="m-border"></div>
                    <ul class="links">
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Upcoming Tours</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Contact Us</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Discover</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Payment Options</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>FAQs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-item">
                    <h4>Resources</h4>
                    <div class="s-border"></div>
                    <div class="m-border"></div>
                    <ul class="links">
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Security</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Terms of Use</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Information</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-12">
                <div class="footer-item clearfix">
                    <h4>Subscribe</h4>
                    <div class="s-border"></div>
                    <div class="m-border"></div>
                    <div class="Subscribe-box">
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
                        <form class="form-inline" action="#" method="GET">
                            <input type="text" class="form-control mb-sm-0" id="inlineFormInputName3" placeholder="Email Address">
                            <button type="submit" class="btn"><i class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <p class="copy">© 2020 <a href="http://themevessel.com/" target="_blank">Theme Vessel</a>. Trademarks and brands are the property of their respective owners.</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->

<!-- Full page search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="#">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-sm btn-color">Search</button>
    </form>
</div>

<!-- External JS libraries -->
<!-- 이미지 클릭시 확대 관련 import  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>

<script src="assets/js/jquery-2.2.0.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.selectBox.js"></script>
<script src="assets/js/rangeslider.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.filterizr.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/daterangepicker.min.js"></script>
<script src="assets/js/backstretch.js"></script>
<script src="assets/js/jquery.countdown.js"></script>
<script src="assets/js/jquery.scrollUp.js"></script>
<script src="assets/js/particles.min.js"></script>
<script src="assets/js/typed.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/dropzone.js"></script>
<script src="assets/js/jquery.mb.YTPlayer.js"></script>
<script src="assets/js/leaflet.js"></script>
<script src="assets/js/leaflet-providers.js"></script>
<script src="assets/js/leaflet.markercluster.js"></script>
<script src="assets/js/maps.js"></script>
<script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
<script src="assets/js/ie-emulation-modes-warning.js"></script>
<!-- Custom JS Script -->
<script  src="assets/js/app.js"></script>


</body>
</html>
