<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
	  >
<head>
<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->
<!-- External CSS libraries -->

<!-- 이미지 클릭시 확대 관련 import  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">
<!-- axios 라이브러리 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Favicon icon -->
<!-- Google fonts -->
<!-- Custom Stylesheet -->
<style>
.heart-button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.heart-button:before {
  content: "\2661";
  font-size: 24px;
  line-height: 32px;
}

.heart-button.filled:before {
  content: "\2665";
  color: red;
}
</style>

</head>
<body id="top">
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDTWJ3Z"
			height="0" width="0" style="display: none; visibility: hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div class="page_loader"></div>

	<!-- main header start -->
		<!-- common/header.html -->
	<!-- main header end -->

	<!-- Sub banner start -->
	<div class="sub-banner">
		<div class="container">
			<div class="breadcrumb-area">
				<h1>상세보기</h1>
				<ul class="breadcrumbs">
					<li><a href="/category">Home</a></li>
					<li class="active">상세보기</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Sub banner end -->

	<!-- Tour details page start -->
	<div class="tour-details-page content-area-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12" style="margin: 0 auto;">
					<div id="itemDetailsSlider"
						class="carousel item-details-sliders slide mb-40">
						<div class="heading-item">
							<div class="row">
								<div class="col-md-12">
									<div class="title">
										<h3 th:text="${hotel.hotelName}"></h3>										
											<div sec:authorize="hasRole('ROLE_USER')" style="text-align: right; color: black; font-weight: bold; font-size: 20px;">
												찜 하기												
												<button id="heartButton" th:class="${exist} ? 'heart-button filled' : 'heart-button'"></button>
												<input type="hidden" id="hotelId" th:value="${hotel.hotelId}">
											</div>
										<div class="ratings">
											<ui th:if="${hotel.star == 5}">
											<option value="5" style="color: black; font-weight: bold; font-size: 19px;">호텔 등급 - ⭐⭐⭐⭐⭐</option>
											</ui>
											<ui th:if="${hotel.star == 4}">
											<option value="4" style="color: black; font-weight: bold; font-size: 19px;">호텔 등급 - ⭐⭐⭐⭐</option>
											</ui>
											<ui th:if="${hotel.star == 3}">
											<option value="3" style="color: black; font-weight: bold; font-size: 19px;">호텔 등급 - ⭐⭐⭐</option>
											</ui>
											<ui th:if="${hotel.star == 2}">
											<option value="2" style="color: black; font-weight: bold; font-size: 19px;">호텔 등급 - ⭐⭐</option>
											</ui>
											<ui th:if="${hotel.star == 1}">
											<option value="1" style="color: black; font-weight: bold; font-size: 19px;">호텔 등급 - ⭐</option>
											</ui>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="tour-infomation">
										<ul>

											<li><i class="flaticon-pin">
												<span style="color: black; font-weight: bold;" th:text="${hotel.hotelAddress}"></span>
											</i></li>											
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- main slider carousel items -->
						<div class="carousel-inner">
							<div class="active item carousel-item" data-slide-number="0">
								<img th:src="@{${hotel.images[0].address}}"
									class="img-fluid img-width" alt="slider">
							</div>
							<div class="item carousel-item" data-slide-number="1">
								<img th:src="@{${hotel.images[1].address}}"
									class="img-fluid img-width" alt="slider">
							</div>
							<div class="item carousel-item" data-slide-number="2">
								<img th:src="@{${hotel.images[2].address}}"
									class="img-fluid img-width" alt="slider">
							</div>
							<div class="item carousel-item" data-slide-number="3">
								<img th:src="@{${hotel.images[3].address}}"
									class="img-fluid img-width" alt="slider">
							</div>
							<div class="item carousel-item" data-slide-number="4">
								<img th:src="@{${hotel.images[4].address}}"
									class="img-fluid img-width" alt="slider">
							</div>

						</div>
						<!-- main slider carousel nav controls -->
						<ul
							class="carousel-indicators smail-item list-inline nav nav-justified">
							<li class="list-inline-item active"><a
								id="carousel-selector-0" class="selected" data-slide-to="0"
								data-target="#itemDetailsSlider"> <img
									th:src="@{${hotel.images[0].address}}" class="img-fluid"
									alt="slider">
							</a></li>
							<li class="list-inline-item"><a id="carousel-selector-1"
								data-slide-to="1" data-target="#itemDetailsSlider"> <img
									th:src="@{${hotel.images[1].address}}"
									class="img-fluid img-width2" alt="slider">
							</a></li>
							<li class="list-inline-item"><a id="carousel-selector-2"
								data-slide-to="2" data-target="#itemDetailsSlider"> <img
									th:src="@{${hotel.images[2].address}}"
									class="img-fluid img-width2" alt="slider">
							</a></li>
							<li class="list-inline-item"><a id="carousel-selector-3"
								data-slide-to="3" data-target="#itemDetailsSlider"> <img
									th:src="@{${hotel.images[3].address}}"
									class="img-fluid img-width2" alt="slider">
							</a></li>
							<li class="list-inline-item"><a id="carousel-selector-4"
								data-slide-to="4" data-target="#itemDetailsSlider"> <img
									th:src="@{${hotel.images[4].address}}"
									class="img-fluid img-width2" alt="slider">
							</a></li>
						</ul>
					</div>
					<!-- Tabbing box start -->
					<div class="tabbing tabbing-box">
						<ul class="nav nav-tabs mb-40" id="carTab" role="tablist">
							<li class="nav-item"><a class="nav-link active show"
								id="one-tab" data-toggle="tab" href="#one" role="tab"
								aria-controls="one" aria-selected="false"><i
									class="flaticon-see"></i> Information</a></li>
							<li class="nav-item"><a class="nav-link" id="6-tab"
								data-toggle="tab" href="#6" role="tab" aria-controls="6"
								aria-selected="true"><i class="flaticon-map"></i> RoomList</a></li>
							<li class="nav-item"><a class="nav-link" id="three-tab"
								data-toggle="tab" href="#three" role="tab" aria-controls="three"
								aria-selected="true"><i class="flaticon-comment"></i>
									Reviews</a></li>
						</ul>
						<div class="tab-content" id="carTabContent">
							<div class="tab-pane fade active show" id="one" role="tabpanel"
								aria-labelledby="one-tab">
								<div class="properties-description">
									<h3 class="heading-2">Information</h3>
									<p th:text="${hotel.hotelInfo}"></p>
									<br>

								</div>
							</div>
							<div class="tab-pane fade " id="6" role="tabpanel"
								aria-labelledby="6-tab">
								<div class="properties-amenities mb-30">
									<h3 class="heading-2">방 리스트</h3>

									<div class="row">
										<div class="col-lg-6 col-md-6" th:each="room, iterStat : ${hotel.room}">
                                 			   <form action="purchase" class="row inline-search-area search-area" method="GET">
                                            <div class="tour-item">
                                                <div class="item-thumbnail">                                                
                                                  <img th:src="@{${room.images[0].address}}" alt="tours" class="img-fluid" />   												                                                                                                 
                                                  <a th:href="@{${room.images[0].address}}" class="item-img" th:attr="data-lightbox=${'lightbox-' + room.roomId}">
                                                    <div class="tag">확대</div>
                                                  </a>
												  <div th:each="img, iterStat : ${room.images}" th:if="${iterStat.index > 0}">
													<a th:href="@{${img.address}}" class="item-img" th:attr="data-lightbox=${'lightbox-' + room.roomId}">
													</a>
												 </div>
                                                                                              
                                                  <div class="plan-price"  th:text="'1박 - ' + ${#numbers.formatInteger(room.price, 0, 'COMMA')} + '원'" style="font-size: 1.5rem;"><sup>$</sup><sub>/1박</sub></div>												 
                                                </div>
                                                <div class="detail">
                                                  <h1 class="title">
                                                    <a th:href="@{#}" onclick="return false;" th:text="${room.roomType}">Camping and mountains</a>
                                                  </h1>
                                                  <div class="location">
                                                    <a href="tours-detail.html" th:text=" '최대 수용 인원 : ' + ${room.roomSize}">
                                                      <i class="flaticon-pin"></i> 2726 Shinn Street, New York
                                                    </a>
                                                  </div>
                                                  	<hr>
														<div class="form-group search-col" style="margin-bottom: -10px; color: black;" >
															예약 날짜 선택
															<input type="text" name="dates" th:value="${dates}" class="datetimes-left form-control"/>
															<i class="flaticon-calendar icon-append"></i>
														</div>
                                                </div>
                                                <div class="footer clearfix">
                                                  <div class="search-col">
                                                  	<input type="hidden" name="roomId" th:value="${room.roomId}"/>
                                                    <button th:if="${available[iterStat.index] == 0}" type="submit" class="btn-theme btn-md btn-block">예약 하기</button>
                                                    <button th:if="${available[iterStat.index] != 0}" type="button" class="btn-theme btn-md btn-block" style="background-color: grey; color: white;">만실</button>
                                                  </div>
                                                </div>
                                            </div>
                               			   </form>
                                        </div>  
                                	</div>
                            	</div>
                        	</div>
                     
                        <div class="tab-pane fade " id="three" role="tabpanel" aria-labelledby="three-tab">
                            <div class="property-details mb-30">
                                <h3 class="heading-2">Reviews</h3>                              
                                <!-- Comments section start -->
                                <div class="comments-section clearfix mb-40">
                                    <ul class="comments">
                                        <div>
                                        <li th:each="review : ${review}">
                                            <div class="comment">
                                                <div class="comment-content">
                                                    <div class="comment-meta">
                                                        <h3>
                                                            <p th:text="${review.key.username}"></p>
                                                        </h3>

                                                        <div th:text="${review.value.date}" class="comment-meta">
                                                        </div>
                                                        <th:block th:switch="${review.value.score}">
                                                            <div th:case="5">⭐⭐⭐⭐⭐</div>
                                                            <div th:case="4">⭐⭐⭐⭐</div>
                                                            <div th:case="3">⭐⭐⭐</div>
                                                            <div th:case="2">⭐⭐</div>
                                                            <div th:case="1">⭐</div>
                                                        </th:block>
                                                    </div>
                                                    <p th:text="${review.value.context}"></p>
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Tour details page end -->

<script>
	const heartButton = document.getElementById("heartButton");
	const hotelId = document.getElementById("hotelId").value;
	
	heartButton.addEventListener("click", function() {
	  heartButton.classList.toggle("filled");
	  
	  axios.post('http://localhost:80/heart', {}, {
		  params: {
			  hotelId : hotelId
	      }
	    })
	    .then(function () {
	    })
	    .catch(function (error) {
	      console.log(error);
	    });
	  });
</script>

	<!-- Footer start -->
	<!-- Footer end -->

	<!-- External JS libraries -->
	<!-- 이미지 클릭시 확대 관련 import  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>

	<!-- Custom JS Script -->

</body>
</html>
