<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
      >
<head>
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
<!-- 이미지 클릭시 확대 관련 import  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">
    <!-- Favicon icon -->
    <!-- Google fonts -->
    <!-- Custom Stylesheet -->
</head>
<body id="top">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDTWJ3Z"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="page_loader"></div>

<!-- main header start -->
	<!-- common/header.html -->
<!-- main header end -->

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Tours List</h1>
            <ul class="breadcrumbs">
                <li><a href="/category">Home</a></li>
                <li class="active">Tours List</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Tour list rightside start -->
<div class="tour-list-rightside content-area-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="option-bar">
                    <div class="row clearfix">
                        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-5">
                            <h4>
                                <span class="heading-icon">
                                    <i class="fa fa-caret-right icon-design"></i>
                                    <i class="fa fa-th-list"></i>
                                </span>                              
                                <span class="heading" th:text="${hotelcount + ' 개의 호텔 검색'}"></span>
                                <script th:inline="javascript">
								    var hotelcount = /*[[${hotelcount}]]*/0;
								    if (hotelcount === 0) {
								        alert("검색 결과가 없습니다.");
								        history.back();
								    }
								</script>
                            </h4>
                        </div>
                        
                    </div>
                </div>
                
                <div th:each="hotel : ${hotellist}" class="tour-item-3">
                    <div class="row">
                      <div class="col-lg-5 col-md-5 col-pad">
                        <div class="item-thumbnail">
                          <a th:href="@{${hotel.images[0].address}}" class="item-img" data-lightbox="example-set">                          
                            <div class="tag">확대</div>

                            <img th:src="@{${hotel.images[0].address}}" alt="tours-list" class="img-fluid" />                                                     

                          </a>
                        </div>
                      </div>
                      <div class="col-lg-7 col-md-7 col-pad">
                        <div class="detail">
                          <h1 class="title">                        
                           <a style="color: black;" th:href="@{/detail(hotelId=${hotel.hotelId}, checkIn=${datein}, checkOut=${dateout}, dates=${dates})}" th:text="${hotel.hotelName}"></a>
                          </h1>
                          <div class="location">
                            <a th:href="@{#}" onclick="return false;">
                              <i class="flaticon-pin"></i>
                              <span th:text="${hotel.hotelAddress}"></span>
                            </a>
                          </div>
                          <p th:text="${hotel.hotelInfo}"></p>
                          <br>
                          <br>
                          <br>
                        </div>
                        <div class="ftr">
                            <div class="pull-left">
                                <i class="flaticon-calendar" style="color: black;" th:text="| ${datein} ~ ${dateout}|"></i> <br>
                                <i class="flaticon-calendar" style="color: black;" th:text="${days}"></i> <br>
                                <i class="flaticon-phone" style="color: black;" th:text="| ${hotel.hotelPhone}|"></i>
                            </div>
                            <div class="pull-right">
                                <div class="ratings">
                                    <span th:if="${hotel.star} == 1">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                    <span th:if="${hotel.star} == 2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                    <span th:if="${hotel.star} == 3">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                    <span th:if="${hotel.star} == 4">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                    <span th:if="${hotel.star} == 5">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

                       <div class="col-lg-4 col-md-12">
                <div class="sidebar">
                    <!-- Search area2 start -->
                    <div class="widget search-area2">
                        <h5 class="sidebar-title">호텔 예약 재검색</h5>
                        <form action="/hotelsearch" class="inline-search-area" method="GET">
                            <div class="form-group search-col">
                                <select class="selectpicker search-fields btn-block form-control bdr" name="destination" required>
                                    <span th:if="${destination} == 서울">
                                        <option value="서울" selected>서울</option>
                                        <option value="제주">제주</option>
                                        <option value="부산">부산</option>
                                        <option value="대전">대전</option>
                                    </span>
                                    <span th:if="${destination} == 제주">
                                        <option value="서울">서울</option>
                                        <option value="제주" selected>제주</option>
                                        <option value="부산">부산</option>
                                        <option value="대전">대전</option>
                                    </span>
                                    <span th:if="${destination} == 부산">
                                        <option value="서울">서울</option>
                                        <option value="제주">제주</option>
                                        <option value="부산" selected>부산</option>
                                        <option value="대전">대전</option>
                                    </span>
                                    <span th:if="${destination} == 대전">
                                        <option value="서울">서울</option>
                                        <option value="제주">제주</option>
                                        <option value="부산">부산</option>
                                        <option value="대전" selected>대전</option>
                                    </span>                                                        
                                </select> 
                                <i class="flaticon-down icon-append"></i>
                            </div>
                            <div class="form-group search-col">
                                <!-- <input type="text" name="dates" th:value="|${datein} ~ ${dateout}|" class="datetimes-left form-control"/> -->
                                <input type="text" name="dates" th:value="${dates}" class="datetimes-left form-control"/> 
                                <i class="flaticon-calendar icon-append"></i>
                            </div>                       
                            <div class="form-group search-col">
                                <select class="selectpicker search-fields btn-block form-control bdr" name="hotel-grade" required>     
                                    <span th:if="${star} == 5">                                     
                                        <option value="5" selected>⭐⭐⭐⭐⭐</option>
                                        <option value="4">⭐⭐⭐⭐</option>
                                        <option value="3">⭐⭐⭐</option>
                                        <option value="2">⭐⭐</option>
                                        <option value="1">⭐</option>
                                    </span>
                                    <span th:if="${star} == 4">                                     
                                        <option value="5">⭐⭐⭐⭐⭐</option>
                                        <option value="4" selected>⭐⭐⭐⭐</option>
                                        <option value="3">⭐⭐⭐</option>
                                        <option value="2">⭐⭐</option>
                                        <option value="1">⭐</option>
                                    </span>
                                    <span th:if="${star} == 3">                                       
                                        <option value="5">⭐⭐⭐⭐⭐</option>
                                        <option value="4">⭐⭐⭐⭐</option>
                                        <option value="3" selected>⭐⭐⭐</option>
                                        <option value="2">⭐⭐</option>
                                        <option value="1">⭐</option>
                                    </span>
                                    <span th:if="${star} == 2">                                      
                                        <option value="5">⭐⭐⭐⭐⭐</option>
                                        <option value="4">⭐⭐⭐⭐</option>
                                        <option value="3">⭐⭐⭐</option>
                                        <option value="2" selected>⭐⭐</option>
                                        <option value="1">⭐</option>
                                    </span>
                                    <span th:if="${star} == 1">
                                        <option value="5">⭐⭐⭐⭐⭐</option>
                                        <option value="4">⭐⭐⭐⭐</option>
                                        <option value="3">⭐⭐⭐</option>
                                        <option value="2">⭐⭐</option>
                                        <option value="1" selected>⭐</option>                                     
                                    </span>                                                              
                                </select> <i class="flaticon-down icon-append"></i>                   
                            </div>
                            <div class="form-group search-col">
                                <select class="selectpicker search-fields btn-block form-control bdr"name="guests" required>
                                    <span th:if="${guests} == 5">
                                        <option value="1">1명</option>
                                        <option value="2">2명</option>
                                        <option value="3">3명</option>
                                        <option value="4">4명</option>
                                        <option value="5" selected>5명 이상</option>                         
                                    </span>
                                    <span th:if="${guests} == 4">
                                        <option value="1">1명</option>
                                        <option value="2">2명</option>
                                        <option value="3">3명</option>
                                        <option value="4" selected>4명</option>
                                        <option value="5">5명 이상</option>                         
                                    </span>       
                                    <span th:if="${guests} == 3">
                                        <option value="1">1명</option>
                                        <option value="2">2명</option>
                                        <option value="3" selected>3명</option>
                                        <option value="4">4명</option>
                                        <option value="5" >5명 이상</option>                         
                                    </span>       
                                    <span th:if="${guests} == 2">
                                        <option value="1">1명</option>
                                        <option value="2" selected>2명</option>
                                        <option value="3">3명</option>
                                        <option value="4">4명</option>
                                        <option value="5">5명 이상</option>                         
                                    </span>       
                                    <span th:if="${guests} == 1">
                                        <option value="1" selected>1명</option>
                                        <option value="2">2명</option>
                                        <option value="3">3명</option>
                                        <option value="4">4명</option>
                                        <option value="5">5명 이상</option>                         
                                    </span>                                          
                            </select> <i class="flaticon-down icon-append"></i>
                            </div>
                            <div class="form-group search-col mb-0">
                                <!-- <a href="" class="btn-theme btn-md btn-block">Search</a> -->
                                <button type="submit" class="btn-theme btn-md btn-block">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Tours list rightside end -->

<!-- Footer start -->
<!-- Footer end -->

<!-- External JS libraries -->
<!-- 이미지 클릭시 확대 관련 import  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>

<!-- Custom JS Script -->


</body>
</html>
