<!DOCTYPE html>
<html lang="zxx"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <!-- Google Tag Manager -->
    <!-- Favicon icon -->
    <!-- Google fonts -->
    <!-- Custom Stylesheet -->
</head>
<body id="top">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDTWJ3Z"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>

<!-- main header start -->
	<!-- common/header.html -->
<!-- main header end -->

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>나의 찜 목록</h1>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Destination start -->
<div class="destination d-2 content-area-2">
    <div class="container">
        <div class="row">
        
            <div th:each="wishlist, iterStat : ${wishlist}" class="col-lg-4 col-md-6 col-sm-12">
                <div class="category">
                    <div class="category_bg_box" th:style="'background-image: url(' + ${wishlist[2]} + ')'">
                        <div class="category-overlay">
                            <div class="category-content">
                                <h5 class="category-title"><a th:href="@{/wishdelete/(hotel=${wishlist[0].hotelId})}">♥</a></h5>
                                <h4 class="category-subtitle"><i class="flaticon-pin"></i><span th:text="${wishlist[0].hotelName}"></span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Destination end -->

<!-- Footer-6 start -->
<!-- Footer-6 end -->

<!-- External JS libraries -->
<!-- Custom JS Script -->

</body>
</html>
