<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="ConfigFragment">
<head>
    <!--Common Head-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
    <title>TTEONAGO</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PDTWJ3Z');</script>
    <!-- End Google Tag Manager -->
    <title>Trego - Travel Tour HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/jquery.selectBox.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/dropzone.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/slick.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/rangeslider.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/daterangepicker.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/leaflet.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/map.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/jquery.mCustomScrollbar.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/fonts/font-awesome/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/fonts/flaticon/font/flaticon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="assets/css/skins/default.css">	
    	
    <!--Common CSS -->
<!--    <link th:inline="css" th:href="@{/lib/jquery-ui.min.css}" rel="stylesheet"/>-->
</head>
</html>