<!DOCTYPE html>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="FooterFragment">
<body>
<footer class="footer-2">
    <div class="container footer-inner">
        <div class="row">
            <div class="col-12">
                <div class="footer-logo">
                    <img src="assets/img/logos/logo.png" alt="logo">
                </div>
				<p style="color: white;"><i>당신이 원하는 한국의 프리미엄 호텔에서 새로운 경험을, 지금 바로 떠나보세요.</i></p>
                <div class="nav-inline">
                    <ul>
                        <li><a href="/category">Home</a></li>                       
                    </ul>
                </div>               
            </div>
        </div>
    </div>
</footer>

</body>      
</html>