<!DOCTYPE html>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="FooterFragment">
<body>
<footer class="footer-2">
    <div class="container footer-inner">
        <div class="row">
            <div class="col-12">
                <div class="footer-logo">
                    <img src="assets/img/logos/logo.png" alt="logo">
                </div>
                <ul class="social-list clearfix">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <div class="nav-inline">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Tours</a></li>
                        <li><a href="#">Destinations</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <p class="copy">© 2020 <a href="#">Theme Vessel</a></p>
            </div>
        </div>
    </div>
</footer>

</body>      
</html>