<!DOCTYPE html>
<!-- Thymeleaf 선언 / headerFragment 임을 선언-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="HeaderFragment"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      
<head>

</head>
<body>
<header class="main-header sticky-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light rounded">
                    <a class="navbar-brand logo navbar-brand d-flex mr-auto" href="category">
                        <img class="logo-default" src="assets/img/logos/logo.png" alt="logo">
    					<img class="logo-black" src="assets/img/logos/black-logo.png" alt="black-logo" style="display: none;">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="navbar-collapse collapse w-100" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            
                            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="nav-link" href="admin">관리자 페이지</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="chat">실시간 상담</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="faq">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="board">문의하기</a>
                            </li>
							<li class="nav-item">
                                <a class="nav-link" href="mypage">내 여행</a>
                            </li>
                            <li class="nav-item" sec:authorize="hasRole('ROLE_ANONYMOUS')">
                                <a class="nav-link" href="login">로그인</a>
                            </li>
                            <li class="nav-item" sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_SOCIAL', 'ROLE_ADMIN')">
                                <a class="nav-link" href="logout">로그아웃</a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

</body>
</html>